<nav class="navbar navbar-expand-lg bg-light">
  <a href="#" class="navbar-brand">Recipe</a>
  <ul class="navbar-nav nav-pills mr-auto">
    <li class="nav-item">
      <a class="nav-link"
         [ngClass]="{'active' : navLinkedActivated === 'recipe'}"
         (click)="navLinkClicked('recipe')"
         routerLink="./recipe"
         routerLinkActive="active"
      >Recipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [ngClass]="{'active' : navLinkedActivated === 'shopping'}"
         (click)="navLinkClicked('shopping')"
         routerLink="./shopping"
         routerLinkActive="active"
      >Shopping</a>
    </li>
  </ul>
</nav>
