<div class="row">
  <div class="col-md-12">
    <form [formGroup]="recipeForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="img">Image</label>
            <input type="text"
                   id="img"
                   formControlName="imgPath"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea type="text"
                      id="desc"
                      formControlName="description"
                      class="form-control"
                      rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" formArrayName="ingredients">
          <label>Ingredient</label>
          <div class="row">
            <div class="col-md-12">
              <div class="row my-1"
                   *ngFor="let ingredientControl of getIngredientControls(); let i = index"
                   [formGroupName]="i">
                <div class="col-md-8">
                  <input type="text"
                         class="form-control"
                         formControlName="name"
                         placeholder="Ingredient name">
                </div>
                <div class="col-md-2">
                  <input type="number"
                         formControlName="amount"
                         class="form-control"
                         min="1">
                </div>
                <div class="col-md-2">
                  <button class="btn btn-danger w-100"
                          type="button">X
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-primary"
                      type="button"
                      (click)="addIngredient()">Add new ingredient</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right my-1">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-danger mx-1" type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
