<form (ngSubmit)="submit()" #authForm="ngForm" class="col-md-6 offset-3"> <!--"ngFrom will prevent the form from submit to the server"-->
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
           id="email"
           class="form-control"
           name="email"
           ngModel
           email
           required
           #emailInput="ngModel">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           class="form-control"
           name="password"
           ngModel
           required>
    <span class="help-block text-center"
          *ngIf="!emailInput.valid && emailInput.touched">Please input a valid email!</span>
  </div>
  <div class="button-group">
    <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isSignIn ? 'Sign in' : 'Sign up' }}</button> |
    <button class="btn btn-primary" type="button" (click)="switch()">Switch to {{ isSignIn ? 'Sign up' : 'Sign in' }}</button>
  </div>
</form>
