<div class="list-group">
  <div class="row my-1">
    <div class="col-md-12">
      <div class="form-group">
        <label for="filter">Filter</label>
        <input type="text"
               id="filter"
               class="form-control"
               [(ngModel)]="filterString">
      </div>
    </div>
  </div>
 <div *ngIf="!this.getIsFetching();else isFetching">
   <app-recipe-item
     *ngFor="let recipeEle of recipes | filter:filterString:'name'; let i = index"
     [recipe]="recipeEle"
     [index]="i"
   >
   </app-recipe-item>
 </div>
  <ng-template #isFetching><p class="text-warning">Loading data...</p></ng-template>
</div>
